body{
    margin: 0;
    padding: 0;
    font-family: $font;
}
.Container{
    width: 100%;
    margin: 0 auto;
    height: 500px;
}
.Container-Full{
    width: 100%;
    margin: 50px 0px 0px 0px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    position: relative;
}
.hero-image{
    width: 40%;
    @include for-size(phone-only){
        width: 90%;
       margin: 0 0 0 49px;
                }
}
.hero-image img{
    @include for-size(phone-only){
        width: 100%;
                }
}
.hero-text{ 
    margin: 0 0 0 150px;
    width: 60%;
    @include for-size(phone-only){
        
        width: 90%;
        margin: 0 0 0 0;
        margin: 0 auto;
                }
}
.col-8{
    width: 70%;
}
.col-7{
    width: 60%;
}

.col-6{
    width: 50%;
}
.col-5{
    width: 40%;
}
.col-4{
width: 30%;
}
.col-3{
width: 20%;
}
.col-2{
width: 10%;
}
.boost-container{
   
    @include Background(250px, url('../img/bg-boost-desktop.svg') no-repeat $DarkBlue, 0);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
  h1{
    margin: 0;
    padding: 0;
    color: $White;
    font-size: 40px;
    padding: 70px 0 0 0;
  }  
}