nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.Navbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 35%;
    display: flex;
    justify-content: space-between;
    li img{
        margin-bottom: 10px;
    }
   li a {
        color: $Gray;
        text-decoration: none;
        font-size: $Text;
        font-weight: $Normal;
        
        @include on-event {
            text-decoration: none;
            color: $Black;
          }
    }
      
      }

