.Main{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.shorten-container{
    padding: 0;
    margin: 120px 0 0 0;
    background-color: #EFF1F7;
    width: 100%;
    height: 450px;
    
}
.shorten{
    width: 80%;
    height:auto;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
   top: 5%;
}
.shorten-box{
    width: 100%;
    height: 168px;
    background: url('../img/bg-shorten-desktop.svg') no-repeat $DarkBlue;
    border-radius: 10px;
    .shorten-items{
        width: 85%;
    height: 168px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .shorten-items .input{
        width: 75%;

    }
    .input input{
        width: 100%;
        border-radius: 8px;
        padding: 18px;
    }


    .shorten-items .button{
        width: 25%;
        padding: 0 0 0 55px;

    }
    
}
.results{
    width: 100%;
    .result{
        width: 100%;
        height: 60px;
        background-color: $White;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border-radius: 10px;
        margin: 20px 0;
    }
    .result p {
        font-size: 20px;
        font-weight: $Normal;
    }
    .result div{
        display: flex;   
       
    }
    .result div p{
        font-size: 20px;
        font-weight: $Normal;
        color: $Cyan;
    }
  
}

.advanced-statistics{
    width: 100%;
    background-color: #EFF1F7;
    width: 100%;
    height:auto;
    padding-bottom: 100px;
    .first-div{
        width: 35%;
        margin: 0 auto;
    }
     .advanced-statistics-title{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 45px;
        font-weight: bold;
    }
    .advanced-statistics-text{
        font-size: 22px;
font-weight: $Normal;
color: $Gray;
text-align: center;
line-height: 1.5;

    }
}


