.cards{
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    .card-wrapper{
        position: relative;
    }
    .card{
       @include Card(100px)
    }
    .card1{
        @include Card(150px)
    }
    .card2{
        @include Card(200px)
    }

    .border{
        height: 20px;
        width: 35px;
        margin-top: 20%;
        border-top: 8px solid $Cyan;
    }
    .image-circle{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: url('../img/icon-brand-recognition.svg') no-repeat center $DarkBlue;
        position: absolute;
        left: 7%;
        bottom: 70%;
    }
    .image-circle1{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: url('../img/icon-detailed-records.svg') no-repeat center $DarkBlue;
        position: absolute;
        left: 7%;
        bottom: 62%;
    }
    .image-circle2{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: url('../img/icon-fully-customizable.svg') no-repeat center $DarkBlue;
        position: absolute;
        left: 7%;
        bottom: 52%;
    }
}
.body-text{
padding: 60px 15px 20px 15px;
.card-title{
    font-size: 25px;
}
.card-text{
    color: $Gray;
    font-size: $Text;
    font-weight: $Normal;
}
}